APP_NAME=Sistema de Gestão de Hidrantes
APP_ENV=local
APP_DEBUG=false
APP_URL=https://localhost

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=hidrantes_system
DB_USER=root
DB_PASS=

SESSION_NAME=hidrantes_session
